.footer {
  padding: 50px 0;
}

.footer__wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer__item {
  &:not(:first-child),
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:not(:first-child) {
    transition: all 0.2s linear;

    &:hover {
      transform: translateX(10px);
    }
  }
}

.footer__item-title {
  margin-bottom: 20px !important;

  font-weight: 500;
  font-size: 20px;
}

.footer__list {
  display: flex;
  flex-direction: column;
}

.footer__list-icon {
  display: flex;
  align-items: center;
  row-gap: 10px;
}

.footer__item-icon {
  width: 40px;
  height: 40px;
}
