/*FONTS*/

$roboto: "Roboto", serif;

/*FONTS*/

/*COLORS*/

$colorWhite: #fff;
$colorBlack: #000;
$colorBg: #141414;


/*COLORS*/

/*MEDIA*/

$largeTablet: 1440px;
$tablet: 1000px;
$semiTablet: 630px;
$phone: 320px;

/*MEDIA*/
